<div
   class="todo-list-item"
   [ngClass]="{ 'selected': isSelected }"
   (click)="setSelectedTodoItem(todoTaskItem.id)"
   (dblclick)="isUpdateTodoTaskTitle = !isUpdateTodoTaskTitle"
>
   @if (isUpdateTodoTaskTitle && isSelected) {
		<mat-card-actions class="todo-list-item__actions">
			<mat-form-field appearance="outline">
					<mat-label>Update title</mat-label>
					<input [(ngModel)]="newTodoTaskTitle" matInput>
			</mat-form-field>
			<otus-button
					[color]="updateButton.color"
					[background]="updateButton.background"
					[disabled]="!newTodoTaskTitle.trim()"
					[otusTooltip]="'To update a task, click the button'"
					(click)="updateTodoTaskTitle(todoTaskItem); isUpdateTodoTaskTitle = !isUpdateTodoTaskTitle"
			>
				Update
			</otus-button>
		</mat-card-actions>
   } @else {
   	<span class="title" [otusTooltip]="'Click on a task to see its description'">{{ todoTaskItem.title }}</span>
		<div class="todo-list-item__display">
			<mat-checkbox [checked]="isChecked" (click)="updateTodoTaskStatus($event, todoTaskItem)"></mat-checkbox>
			<otus-button
				[color]="deleteButton.color"
				[background]="deleteButton.background"
				[otusTooltip]="'To delete, click the button'"
				(click)="deleteTodoItem($event, todoTaskItem.id)"
			>
				Delete
			</otus-button>
		</div>
   }
</div>