<mat-card class="todo-list__card">
    <mat-card-header>
        <mat-card-title class="todo-list__title">ToDoList</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="todo-list">
            <li class="todo-list__task">
                <span class="todo-list__task-name">Bye a new gaming laptop</span>
                <button class="todo-list__task-btn" mat-mini-fab aria-label="Delete task">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
            <li class="todo-list__task">
                <span class="todo-list__task-name">Complete previous task</span>
                <button class="todo-list__task-btn" mat-mini-fab aria-label="Delete task">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
            <li class="todo-list__task">
                <span class="todo-list__task-name">Create some angular app</span>
                <button class="todo-list__task-btn" mat-mini-fab aria-label="Delete task">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions class="todo-list__actions">
        <mat-form-field appearance="outline">
            <mat-label>Add your new todo</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-flat-button type="button">Add task</button>
    </mat-card-actions>
</mat-card>
