.todo-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    list-style-type: none;

    &__header {
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    &__wrapper {
        display: flex;
        gap: 24px;
    }

    &__card {
        min-width: 480px;
        background: #131327;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
    }
}